* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

html,
body {
  font-size: 18px;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  background-color: #f7f7f7;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 30px;
}

